<h2 id="show-title-header"><%= @entry.title %></h2>
<h3 id="show-time-header"><%= @entry.created_at.strftime('%d %B, %R') %></h3>

<div class="entry-container">
  <p>
    <%= @entry.body %>
  </p>

</div>

<footer>
  <%= render 'entries/footer' %>
</footer>
